/* universal selectors */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: black;
  color: seashell;
  font: 22px Helvetica;
  opacity: 0.9;
  text-align: center;
}


/* header */


header {
  align-items: center;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: space-between;
}


.logo {
  height: 50px;
  margin-left: 10px;
}


li {
  display: inline;
  margin: 0 10px;
}


a {
  text-decoration: underline;
}


a:visited {
  color: seashell;
}


a:active,
a:hover {
  color: #d0baa8;
}


/* main body */


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* main body: mission */


.mission {
  background-image: url('../images/img-mission-background.jpg');
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin-bottom: 60px;
  width: 1200px;
}


.mission-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}


.mission-container h2 {
  margin-top: 10px;
}


.mission-container h4 {
  margin-bottom: 10px;
}


/* main body: featured */


.featured {
  width: 1000px;
  margin-bottom: 60px;
}


.featured h2,
.featured h4 {
  margin: 20px 0;
}


.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.featured-container img {
  height: 200px;
  width: 300px;
  margin: 15px;
}
